.app-header {
  text-align: center;
  margin: 10px;
}

input {
  margin: 20px auto 20px auto;
  width: 20rem;
}

.score {
  margin: 20px auto 20px auto;
}

.letters {
  margin: 0 auto;
}

.active {
  color: red;
}

button {
  width: 20%;
  margin: auto auto 20px auto;
}

.card {
  align-items: center;
}
